<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ - Meu Aroma</title>
    <!-- Bootstrap CSS -->
</head>
{% extends "base.html" %}
{% load static %}

{% include 'includes/navbar.html' %}
{% block content %}

<body>
    <div class="container my-5">
        <!-- Company History Section -->
        <div class="card mb-4">
            <div class="card-header faq-banner text-white">
                <h2>About Meu Aroma</h2>
            </div>
            <div class="card-body">
                <p>Founded by a passion for quality and the environment, Meu Aroma started as a small family business
                    creating handmade vegan soaps in our backyard. Our products, rich in essential oils, are designed
                    for those who care about their skin and the planet.</p>
            </div>
        </div>

        <!-- FAQ Section -->
        <div class="accordion" id="faqAccordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            What makes Meu Aroma soaps unique?
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        Our soaps are handcrafted with natural, vegan ingredients, focusing on environmentally friendly
                        practices and the health benefits of essential oils.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Is Meu Aroma certified as a vegan brand?
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                    <div class="card-body">
                        Yes, we take pride in our vegan certification. We ensure that all of our ingredients are
                        plant-based and cruelty-free, adhering to the highest standards of vegan care.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Do you test on animals?
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        Our commitment to nature extends beyond our ingredients. We never test on animals, ensuring that
                        our products remain cruelty-free and ethical
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Do your products have an expiry date?
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        Natural ingredients like ours have a generous shelf life. While our soaps do not have a specific
                        expiry date, we recommend using them within a year of purchase to enjoy their maximum efficacy
                        and fragrance
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Does your hand sanitiser kill the Covid-19 virus?
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        Our hand sanitiser is formulated according to health guidelines and contains alcohol content
                        adequate to effectively neutralize common viruses and bacteria
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            The products can be used for anyone in our family?
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        Absolutely! Our gentle formulas are designed to be suitable for the whole family. From the
                        smallest member to the eldest, everyone can enjoy the natural cleansing and soothing properties
                        of Meu Aroma soaps.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            The packing process is environmentally friendly?
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        We take as much care with our packaging as we do with our soaps. Our bottles are made from
                        materials that are both sustainable and recyclable to minimize environmental impact.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            IS the pack recycling?
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        Sustainability is at the core of our business, which is why all our packaging is designed to be
                        recyclable. We encourage our customers to follow recycling guidelines to help protect the
                        environment.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            What is the delivery timeline?
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        We strive to process and dispatch your order as swiftly as possible. Delivery typically takes
                        between 3-5 business days within our country, with variations depending on your location
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Can I order for Gift?
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        We love that you're sharing our products as gifts! Upon request, we can include a gift receipt
                        and even offer gift wrapping services to make your present extra special.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            What is the delivery costs and how you apply that?
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        Shipping costs vary depending on the size of your order and your location. We offer free
                        standard shipping on orders over a certain value. For smaller orders, please refer to our
                        shipping information for detailed rates.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Where I can buy beyond website?
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        While our full range is available online, you can also find our products at select local
                        boutiques and eco-friendly markets and partners. Check our website for a list of authorized
                        retailers."
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Are the products also for Therapeutic Use?
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        While our soaps are crafted to be gentle and nourishing, we recommend consulting with a
                        healthcare professional if you're considering them as part of a specific skin treatment regimen.
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>