<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Meu Aroma - Natural Handmade Soaps</title>

</head>
{% extends "base.html" %}
{% load static %}

{% include 'includes/navbar.html' %}

<!-- Hero image -->
{% block content %}
<div class="h-100">
    <div class="hero-section">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-10 col-lg-8 position-relative">
                <div class="text-box">
                    <h2 class="font-weight-bold mb-3">
                        Why should you buy natural products?
                    </h2>
                    <p class="lead banner-text">
                        Vegan and Environmentally Friendly products for you!
                    </p>
                    <a href="{% url 'products' %}" class="btn shop-now-button">Shop Now</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Delivery tag to be adjusted -->
    {% include 'includes/free_delivery.html' %}

    <!-- History box  -->
    <div class="section-2">
        <section id="store-history">
            <div class="container">
                <h2>What we can offer </h2>
                <p>Dive into our Handcrafted Soaps - a Fusion of Pure Essential Oils and the Finest Natural
                    Ingredients. Each Bar, a Symphony of Scents and Gentleness, Lovingly Created for Even the Most
                    Sensitive Skin. Embrace Nature's Kindness in Every Lather!.</p>
            </div>
        </section>

        <div class="info-boxes d-flex flex-wrap justify-content-around">
            <!-- Contact Us Box -->
            <div class="info-box">
                <h3>Contact Us</h3>
                <p>Form to contact us added in the future</p>
            </div>

            <!-- Sign Up for Newsletter Box -->
            <div class="info-box">
                <h3>Sign Up for Our Newsletter</h3>
                <p>subscribe to updates for special offers, news, and more.</p>
                <form action="#" method="post">
                    {% csrf_token %}
                    <input type="email" name="email" placeholder="Your Email">
                    <button type="submit" class="btn shop-now-button">Subscribe</button>
                </form>
            </div>

            <!-- Third Information Box -->
            <div class="info-box">
                <h3>{% if user.is_authenticated %}Become a Partner{% else %}Create an Account{% endif %}</h3>
                <p>{% if user.is_authenticated %}
                    Are you intrigued by the prospect of embarking on a rewarding partnership with us and offering our
                    exquisite range of products to a wider audience? We invite you to take the first step by submitting
                    your application to become our valued partner.
                {% else %}
                    If you don't have an account, you can create one to apply for our partnership program. Creating an account
                    allows you to access exclusive benefits and apply for partnership.
                {% endif %}</p>
                <a href="{% if user.is_authenticated %}{% url 'partner_application' %}{% else %}{% url 'account_signup' %}{% endif %}"
                   class="btn shop-now-button">
                    {% if user.is_authenticated %}Apply Now{% else %}Create an Account{% endif %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}



</body>

</html>