{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100 py-5">
    <div class="row h-100 align-items-center">
        <div class="col-lg-8">
            <div class="text-box">
                <h1 class="display-4 text-dark font-weight-bold mb-4">
                    Discover the Essence of Nature
                </h1>
                <p class="lead text-muted">
                    Dive into our Handcrafted Soaps - a Fusion of Pure Essential Oils and the Finest Natural Ingredients.
                    Each Bar, a Symphony of Scents and Gentleness, Lovingly Created for Even the Most Sensitive Skin.
                    Embrace Nature's Kindness in Every Lather!
                </p>
                <a href="#" class="btn shop-now-button btn-lg rounded-pill text-uppercase">Shop Now</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}