{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mb-4 py-4">
    <div class="row">
        <div class="col text-center">
            <h2 class="display-4 text-success">Thank You for Your Order!</h2>
            <p class="mt-3">Your order number is <strong>{{ order.order_number }}</strong>.</p>
            <p>A confirmation email has been sent to <strong>{{ order.email }}</strong>. Please check your inbox shortly to review your order details.</p>
            <hr class="my-4">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="card border-success mb-3">
                <div class="card-header bg-success text-white">Order Summary</div>
                <div class="card-body text-success">
                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-8">
                            <p class="card-text">{{ item.product.name }} (x{{ item.quantity }})</p>
                        </div>
                        <div class="col-4 text-right">
                            <p class="card-text">€{{ item.lineitem_total|floatformat:2 }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <hr>
                    <div class="row font-weight-bold">
                        <div class="col-8">
                            <p class="card-text">Grand Total</p>
                        </div>
                        <div class="col-4 text-right">
                            <p class="card-text">€{{ order.grand_total|floatformat:2 }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{% url 'products' %}" class="btn btn-outline-success btn-lg btn-block">
                <i class="fas fa-arrow-circle-left mr-2"></i>Continue Shopping
            </a>
        </div>
    </div>
</div>
{% endblock %}
