{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="text-center mb-4">
                <h2 class="logo-font mt-5">Secure Checkout</h2>
                <p class="lead text-muted">Complete your order with a few simple steps.</p>
                <!-- review the css style here later -->
            </div>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 order-lg-1 mb-4">
            <div class="card shadow-sm">
                <div class="card-header bg-info text-white">
                    <i class="fas fa-shopping-cart text-white"> &nbsp </i> Your Order
                </div>
                <ul class="list-group list-group-flush">
                    {% for item in bag_items %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}"
                                class="img-thumbnail mr-2" style="width: 50px; height: 50px;">
                            <div>
                                <h6 class="my-0">{{ item.product.name }} <span><small class="text-muted">Qty:
                                            {{ item.quantity }}</small></span></h6>

                            </div>
                            <span class="text-muted">€{{ item.subtotal|floatformat:2 }}</span>
                        </div>
                    </li>

                    {% empty %}
                    <li class="list-group-item text-center">Your cart is empty.</li>
                    {% endfor %}

                    <!-- Total Price Before Discounts -->
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total Price:</span>
                        <strong>€{{ total|floatformat:2 }}</strong>
                    </li>

                    <!-- Discount Applied -->
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Discount applied:</span>
                        <strong class="text-success">-€{{ discount_amount|floatformat:2 }}</strong>
                    </li>

                    <!-- Subtotal After Discount -->
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Subtotal After Discount:</span>
                        <strong>€{{ subtotal_after_discount|floatformat:2 }}</strong>
                    </li>

                    <!-- Delivery Charge -->
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Delivery:</span>
                        <strong class="text-danger">€{{ delivery|floatformat:2 }}</strong>
                    </li>

                    <!-- Grand Total -->
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (EUR):</span>
                        <strong>€{{ grand_total|floatformat:2 }}</strong>
                    </li>
                </ul>
            </div>
            <a href="{% url 'products' %}" class="btn btn-outline-primary btn-lg btn-block mt-3" role="button">
                <i class="fas fa-chevron-left">&nbsp</i> Continue Shopping
            </a>
        </div>

        <div class="col-lg-8 order-lg-2 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-header bg-primary text-white">
                    <i class="fas fa-address-card text-white"> &nbsp</i> Billing Details
                </div>
                <div class="card-body">
                    <h6>Insert your cupon discount </h6>
                    <!-- review the css style here later -->
                    <form action="{% url 'apply_coupon' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" name="code" class="form-control coupon-field" placeholder="Coupon Code"
                                   aria-label="Coupon Code" aria-describedby="button-apply">
                            <div class="input-group-append">
                                <button class="btn btn-custom-shop" type="submit" id="button-apply">Apply</button>
                            </div>
                        </div>
                    </form>

                    {% if discount_amount %}
                    <div class="input-group mb-3">
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Discount:</span>
                            <strong class="text-success">-€{{ discount_amount|floatformat:2 }}</strong>
                        </li>
                    </div>
                    <div class="alert alert-success mt-3">
                        Coupon code applied successfully!
                    </div>
                    {% endif %}

                    <hr>

                    <h6>Personal informaion: </h6>
                    <form action="{% url 'checkout' %}" method="POST" id="payment-form" class="needs-validation"
                        novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            {{ order_form.full_name | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ order_form.email | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ order_form.phone_number | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ order_form.street_address1 | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ order_form.street_address2 | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ order_form.town_or_city | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ order_form.county | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ order_form.postcode | as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ order_form.country | as_crispy_field }}
                        </div>

                        <!-- Payment Details -->

                        <div id="payment-details" class="highlighted-section">
                            <div class="alert alert-info" role="alert">
                                <h4 class="alert-heading">Please Review Your Order</h4>
                                <p>Delivery: €{{ delivery|floatformat:2 }}</p>
                                {% if free_delivery_delta > 0 %}
                                <p class="text-danger">
                                    Spend just €{{ free_delivery_delta|floatformat:2 }} more for free delivery!
                                </p>
                                {% endif %}
                                <p>Before proceeding, please confirm the details and total cost of your order. Your card
                                    will be charged the amount below.</p>
                                <hr>
                                <p class="mb-0"><strong>Total to be charged to your card:</strong>
                                    <br>
                                    <span class="h4">€{{ grand_total|floatformat:2 }}</span>
                                </p>
                            </div>
                            <h4 class="my-4">Payment Details</h4>
                            <div id="card-element" class="form-control">
                                <!-- Stripe Elements will go here -->
                            </div>
                            <div id="card-errors" role="alert" class="text-danger mt-2"></div>
                        </div>

                        <input type="hidden" value="{{ client_secret }}" name="client_secret">

                        <button class="btn btn-success btn-lg btn-block mt-4" type="submit"
                            id="complete-order-btn">Complete order <i class="fas fa-lock ml-2 text-white">
                                &nbsp</i></button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const completeOrderButton = document.getElementById('complete-order-btn');
        const formElements = document.querySelectorAll(
            'input[type="text"], input[type="email"], input[type="tel"], select');

        // Function to check if all form elements are filled
        function checkFormCompletion() {
            let isFormComplete = true;
            formElements.forEach(element => {
                if (element.required && element.value.trim() === '') {
                    isFormComplete = false;
                }
            });
            return isFormComplete;
        }

        // Function to enable or disable the button based on form completion
        function updateButtonStatus() {
            if (checkFormCompletion()) {
                completeOrderButton.removeAttribute('disabled');
            } else {
                completeOrderButton.setAttribute('disabled', 'disabled');
            }
        }

        // Function to show an alert when the button is disabled
        function showIncompleteFieldsAlert() {
            if (!checkFormCompletion()) {
                alert('Please fill in all mandatory fields before submitting your order.');
            }
        }

        // Add event listener to the complete order button
        completeOrderButton.addEventListener('click', function (event) {
            if (!checkFormCompletion()) {
                event.preventDefault(); // Prevent form submission
                showIncompleteFieldsAlert();
            }
        });

        // Add event listeners to form elements to update the button status
        formElements.forEach(element => {
            element.addEventListener('input', updateButtonStatus);
        });

        // Initial check and button status update
        updateButtonStatus();
    });
</script>
{% endblock %}