/* Base Elements */
html, body {
    min-height: 100%;
    font-family: 'Lato', sans-serif;
}

body {
    background: url('/media/bg_home.JPG') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 56px; 
    margin-bottom: -56px; 
}

/* Overlay for the image */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
    z-index: -1;
}

/* Navigation Bar */
.navbar-class {
    background-color: rgba(255, 213, 197, 0.9); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    position: fixed;
    width: 100%;
    z-index: 1030;
}

.navbar-brand img {
    height: 80px; 
}

/* Search Bar */
.input-group .form-control {
    border: 2px solid #ccc; 
    border-radius: .25rem;
}

.input-group-append .btn {
    background-color: #e9ecef;
    border: 2px solid #ccc; 
}

/* Icons Customizations */
.fas {
    color: #5c743d; 
}

/* Main Content Box */
.text-box {
    background-color: #c4ee76; 
    opacity: 80%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    position: absolute; 
    left: 50px; 
    top: 180px; 
    width: calc(100% - 100px); 
    max-width: 600px; 
}

/* Button Customizations */
.shop-now-button {
    background-color: #df522e; 
    border: none;
    padding: 10px 20px;
    border-radius: 50px; 
    font-weight: bold;
    text-transform: uppercase;
}

.shop-now-button:hover {
    background-color: #e5673f; 
    color: white;
}

/* Custom Navigation Bar Styles for Dropdowns */
.custom-nav-collapse {
    background-color: rgba(255, 213, 197, 0.95);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-navbar-nav .custom-nav-item .custom-nav-link {
    color: #5c743d; 
    margin-right: 1rem;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.custom-navbar-nav .custom-nav-item .custom-nav-link:hover,
.custom-navbar-nav .custom-nav-item .custom-nav-link:focus {
    color: #f97f51;
}

.custom-dropdown-menu {
    border-color: #f97f51;
    background-color: #fff;
}

/* Shop Now Button */
.btn-custom-shop {
    background-color: #f97f51;
    color: #fff;
    border-radius: 30px;
    padding: 0.75rem 1.5rem;
    transition: background-color 0.3s ease;
}

.btn-custom-shop:hover {
    background-color: #e5673f;
    color: #fff;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .custom-navbar-nav .custom-nav-item {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
    .text-box {
        position: static; 
        margin: 15px;
        width: auto;
    }
}

@media (min-width: 992px) {
    .navbar-class {
        top: 0;
        right: 0;
        left: 0;
    }
}