<div class="collapse navbar-collapse custom-nav-collapse" id="main-nav">
    <ul class="navbar-nav custom-navbar-nav mx-auto">
        <li class="nav-item custom-nav-item dropdown">
            <a class="nav-link custom-nav-link products-link" href="#" id="nav-products" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="nav-products">
                <a href="" class="dropdown-item">Featured Products</a>
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Best Sellers</a>
                <a href="" class="dropdown-item">Full Catalog</a>
            </div>
        </li>
        <li class="nav-item custom-nav-item dropdown">
            <a class="nav-link custom-nav-link skin-care-link" href="#" id="nav-skin-care" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Skin Care &amp; Treatments
            </a>
            <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="nav-skin-care">
                <a href="" class="dropdown-item">Moisturizing Soaps</a>
                <a href="" class="dropdown-item">Exfoliating Soaps</a>
                <a href="" class="dropdown-item">Soaps for Sensitive Skin</a>
            </div>
        </li>
        <li class="nav-item custom-nav-item dropdown">
            <a class="nav-link custom-nav-link senses-link" href="#" id="nav-senses" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Senses Collections
            </a>
            <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="nav-senses">
                <a href="" class="dropdown-item">Aromatherapy Soaps</a>
                <a href="" class="dropdown-item">Citrus Collection</a>
                <a href="" class="dropdown-item">Herbal Collection</a>
                <a href="" class="dropdown-item">Earthy Collection</a>
            </div>
        </li>
        <li class="nav-item custom-nav-item dropdown">
            <a class="nav-link custom-nav-link specials-link" href="#" id="nav-specials" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="nav-specials">
                <a href="" class="dropdown-item">Seasonal Discounts</a>
                <a href="" class="dropdown-item">Bundle Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>
