<div class="collapse navbar-collapse custom-nav-collapse" id="main-nav">
    <ul class="navbar-nav custom-navbar-nav mx-auto">
        <!-- All Products Dropdown -->
        <li class="nav-item custom-nav-item dropdown">
            <a class="nav-link custom-nav-link products-link" href="#" id="nav-products" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="nav-products">
                <a href="{% url 'products' %}" class="dropdown-item">Full Catalog</a>
                <a href="{% url 'products' %}?category=New%20Arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=Best%20Sellers" class="dropdown-item">Best Sellers</a>
                <a href="{% url 'products' %}?category=Featured%20Products" class="dropdown-item">Featured Products</a>
            </div>
        </li>
        
        <!-- Skin Care & Treatments Dropdown -->
        <li class="nav-item custom-nav-item dropdown">
            <a class="nav-link custom-nav-link skin-care-link" href="#" id="nav-skin-care" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Skin Care &amp; Treatments
            </a>
            <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="nav-skin-care">
                <a href="{% url 'products' %}?category=Moisturizing%20Soaps" class="dropdown-item">Moisturizing Soaps</a>
                <a href="{% url 'products' %}?category=Exfoliating%20Soaps" class="dropdown-item">Exfoliating Soaps</a>
                <a href="{% url 'products' %}?category=Soaps%20for%20Sensitive%20Skin" class="dropdown-item">Soaps for Sensitive Skin</a>
            </div>
        </li>

        <!-- Senses Collections Dropdown -->
        <li class="nav-item custom-nav-item dropdown">
            <a class="nav-link custom-nav-link senses-link" href="#" id="nav-senses" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Senses Collections
            </a>
            <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="nav-senses">
                <a href="{% url 'products' %}?category=Aromatherapy%20Soaps" class="dropdown-item">Aromatherapy Soaps</a>
                <a href="{% url 'products' %}?category=Citrus%20Collection" class="dropdown-item">Citrus Collection</a>
                <a href="{% url 'products' %}?category=Herbal%20Collection" class="dropdown-item">Herbal Collection</a>
                <a href="{% url 'products' %}?category=Earthy%20Collection" class="dropdown-item">Earthy Collection</a>
            </div>
        </li>

        <!-- Special Offers Dropdown -->
        <li class="nav-item custom-nav-item dropdown">
            <a class="nav-link custom-nav-link specials-link" href="#" id="nav-specials" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="nav-specials">
                <a href="{% url 'products' %}?category=Seasonal%20Discounts" class="dropdown-item">Seasonal Discounts</a>
                <a href="{% url 'products' %}?category=Bundle%20Deals" class="dropdown-item">Bundle Deals</a>
                <a href="{% url 'products' %}?category=Clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=Seasonal%20Discounts,Bundle%20Deals,Clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>