<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nav Bar</title>

</head>

<div class="ccontainer-fluid fixed-top navbar-class">
    <div id="topnav" class="row bg-white pt-lg-2 d-lg-flex">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
            <ul class="list-inline logo-m list-unstyled text-center text-lg-right my-0 navbar-account-bag">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <img src="/media/logo.png" alt="Meu Aroma" style="height: 100px;">
                </a>
            </ul>
        </div>

        <!-- Search Bar Section -->
        <div class="col-12 col-lg-4 d-none d-lg-block d-xl-nonepy-1 my-auto py-1 py-lg-0">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control border  border-black rounded-0" type="text" name="q"
                        placeholder="Search our site">
                    <div class="input-group-append">
                        <button class="form-control btn rounded-0" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Account and Shopping Bag Section -->
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 d-none d-lg-block">
            <ul class="list-inline list-inline-item list-unstyled text-center text-lg-right my-0">
                <li class="list-inline-item dropdown">        
                    <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <div><i class="fas fa-user fa-lg"></i></div>
                            <p class="my-0">My Account</p>
                        </div>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'view_bag' %}">
                        <div class="bag-icon-container">
                            <i class="fas fa-shopping-bag fa-lg bag-item"></i>
                            {% if total %}
                            <span class="bag-price">€{{ total|floatformat:2 }}</span>
                            {% else %}
                            <span class="bag-price">€0.00</span>
                            {% endif %}
                        </div>
                    </a>
                </li>
                

            </ul>
        </div>
    </div>
    <div class="row bg-white">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
            <div class="d-flex">
                <button class="navbar-toggler mb-4" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            {% include 'includes/mobile-top-header.html' %}
            {% include 'includes/main-nav.html' %}
        </nav>
    </div>
</div>
<div class="row bg-white">
    <nav class="navbar navbar-expand-lg navbar-light w-100">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </nav>
</div>
</button>
</body>

</html>