<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Email Confirm</title>

</head>


{% extends "account/base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}
    {% trans "Confirm Email Address" %}
{% endblock head_title %}

{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="logo-font text-center mb-4">{% trans "Confirm Email Address" %}</h2>
            {% if confirmation %}
                <p class="text-center">
                    {% blocktrans with email=confirmation.email_address.email %}
                        Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ confirmation.email_address.user.get_full_name }}.
                    {% endblocktrans %}
                </p>
                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-block" type="submit">{% trans 'Confirm' %}</button>
                </form>
            {% else %}
                <p class="text-center">
                    {% url 'account_email' as email_url %}
                    {% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

</body>

</html>