{% extends "account/base.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Email Address" %}
{% endblock head_title %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center p-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">
                        {% trans "Email Address" %}
                    </h1>
                </div>
                <div class="card-body">
                    {% if not emailaddresses %}
                        {% include "account/snippets/warn_no_email.html" %}
                    {% endif %}
                    <form method="post" action="{% url 'account_email' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>{% translate "Current email" %}:</label>
                            <input type="email" value="{{ current_emailaddress.email }}" class="form-control" readonly>
                        </div>
                        {% if new_emailaddress %}
                            <div class="form-group">
                                <label>{% translate "Changing to" %}:</label>
                                <input type="email" value="{{ new_emailaddress.email }}" class="form-control" readonly>
                                <small class="form-text text-muted">
                                    {% blocktranslate %}Your email address is still pending verification.{% endblocktranslate %}
                                </small>
                            </div>
                        {% else %}
                            <div class="form-group">
                                <label>{% translate "Change to" %}:</label>
                                <input type="email" name="email" value="{{ form.email.value }}" class="form-control" {{ form.email.errors|yesno:"is-invalid," }}>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {% if new_emailaddress %}
                                <button type="submit" name="action_send" class="btn btn-primary btn-block">
                                    {% trans 'Re-send Verification' %}
                                </button>
                                <button type="submit" name="action_remove" class="btn btn-secondary btn-block">
                                    {% trans 'Cancel Change' %}
                                </button>
                            {% else %}
                                <button name="action_add" type="submit" class="btn btn-primary btn-block">
                                    {% trans "Change Email" %}
                                </button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
