<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Logout</title>

</head>


{% extends "account/base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center p-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">
                        {% trans "Sign Out" %}
                    </h1>
                </div>
                <div class="card-body">
                    <p>
                        {% trans 'Are you sure you want to sign out?' %}
                    </p>
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <div class="form-group text-center">
                            <a class="btn btn-outline-secondary btn-block" href="{% url 'home' %}">
                                {% trans "Cancel" %}
                            </a>
                            <button type="submit" class="btn btn-primary btn-block">
                                {% trans 'Sign Out' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

</body>

</html>