{% extends "account/base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center p-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">
                        {% trans "Password Reset" %}
                    </h1>
                </div>
                <div class="card-body">
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p>
                        {% blocktrans %}We have sent you an email. If you have not received it, please check your spam folder. Otherwise, contact us if you do not receive it in a few minutes.{% endblocktrans %}
                    </p>
                    <a href="{% url 'products' %}" class="btn btn-success btn-sm btn-block">
                        <i class="fas fa-arrow-circle-left mr-2"></i>Back
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
