{% extends "account/base.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center p-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">
                        {% if token_fail %}
                            {% trans "Bad Token" %}
                        {% else %}
                            {% trans "Change Password" %}
                        {% endif %}
                    </h1>
                </div>
                <div class="card-body">
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>
                            {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
                        </p>
                    {% else %}
                        <form method="post" action="{{ action_url }}">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.as_p }}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block" name="action">
                                    {% trans 'Change Password' %}
                                </button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
