{% extends "account/base.html" %}
{% load i18n %}
{% load static %}  <!-- Make sure to load the static files to link CSS -->

{% block head_title %}
    {% trans "Sign Up Closed" %}
{% endblock head_title %}

{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="signup-closed-wrapper">
                <h2 class="logo-font text-center mb-4">{% trans "Sign Up Closed" %}</h2>
                <p class="text-center">{% trans "We are sorry, but the sign up is currently closed." %}</p>
                <a href="{% url 'home' %}" class="btn btn-outline-primary btn-block mt-3">{% trans "Return Home" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
