{% extends "account/base.html" %}
{% load i18n %}
{% load static %}  

{% block head_title %}
    {% trans "Verify Your Email Address" %}
{% endblock head_title %}

{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <hr>
                <h2 class="logo-font mb-4">{% trans "Verify Your Email Address" %}</h2>
                <hr>
                <p>{% trans "We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes." %}</p>
                <a href="{% url 'home' %}" class="btn btn-outline-primary mt-3">{% trans "Return Home" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}