
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Footer</title>

</head>

<footer class="site-footer">
    <div class="social-icons">
        <a href="https://www.facebook.com/meuaromasaboaria/" aria-label="Facebook" target="_blank" class="facebook" rel="noopener">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/meuaromasaboaria/" aria-label="instagram" target="_blank" class="instagram" rel="noopener">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="#" target="_blank" class="newsletter" rel="noopener" aria-label="Newsletter">
            <i class="fa-solid fa-envelopes-bulk"></i>
        </a>
    </div>
    <p class="footer-text">© <span id="current-year"></span> Meu Aroma Saboaria. All rights reserved.</p>
    <p class="footer-text">Created by Felipe Zanetti</p>
</footer>
<script>
    document.getElementById("current-year").textContent = new Date().getFullYear();
</script>

</body>

</html>

