{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="management-wrapper">
                <h2 class="logo-font text-center mb-4">Delete Product</h2>
                <hr>
                <p class="text-center">Are you sure you want to delete the product "{{ product.name }}"?</p>
                
                <div class="text-center mt-4">
                    <form method="POST" action="{% url 'delete_product' product.id %}">
                        {% csrf_token %}
                        <a class="btn btn-outline-secondary mr-2" href="{% url 'product_detail' product.id %}">No, take me back</a>
                        <button type="submit" class="btn btn-danger">Yes, delete it</button>
                    </form>
                </div>
            </div>
        </div>            
    </div>
</div>
{% endblock %}