{% extends "base.html" %}
{% load static %}

{% include 'includes/navbar.html' %}

{% block content %}
<div class="overlay"></div>
<div class="container py-4">
    <h2 class="text-center mb-4">Explore Our Unique Soap Collection</h2>

    <!-- Sorting Dropdown -->
    <div class="sorting-dropdown mb-4">
        <select id="sort-by" onchange="sortProducts()" class="form-control">
            <option value="">Sort by</option>
            <option value="price_asc">Price (Low to High)</option>
            <option value="price_desc">Price (High to Low)</option>
            <option value="name_az">Name (A to Z)</option>
            <option value="name_za">Name (Z to A)</option>
        </select>
    </div>

    <!-- Loop for sorting products and display in the sections -->
    <div class="row">
        {% for product in products %}
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card product-card h-100 shadow-sm">
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top" alt="No image available">
                </a>
                {% endif %}

                <!-- Display layout of products cards -->
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                    <div class="buy-info d-flex justify-content-between align-items-center mt-3">
                        <span class="price-highlight">€{{ product.price }}</span>

                        <!-- Add to Bag Form -->
                        <form action="{% url 'add_to_bag' product.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="redirect_url" value="{% url 'products' %}">
                            <button type="submit" class="btn btn-success"
                                {% if not product.inventory.quantity_in_stock %} disabled {% endif %}>Add to
                                bag</button>
                        </form>
                    </div>
                </div>
                <div class="card-footer bg-white border-0">
                    {% if product.rating %}
                    <div class="product-rating">
                        <span class="rating">{{ product.rating }}</span>
                        <i class="fas fa-star rated"></i>
                    </div>
                    {% else %}
                    <small class="text-muted">
                        {% if not product.inventory.quantity_in_stock %}
                        <div class="out-of-stock-info text-danger">
                            Out of Stock
                        </div>
                        {% endif %}
                    </small>
                    {% endif %}
                </div>

                <!-- Superuser Edit/Delete Buttons -->
                {% if request.user.is_superuser %}
                <div class="card-footer bg-white text-right">
                    <a href="{% url 'edit_product' product.id %}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{% url 'delete_product' product.id %}" class="btn btn-danger btn-sm">Delete</a>
                </div>
                {% endif %}

            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p class="text-center">Our soap artisans are working on new creations. Check back soon!</p>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    function sortProducts() {
        var sortingMethod = document.getElementById('sort-by').value;
        var currentUrl = window.location.href;
        var newUrl = new URL(currentUrl);
        newUrl.searchParams.set('sort', sortingMethod);
        window.location.href = newUrl;
    }
</script>

{% endblock %}